node_modules/
public/js

/target
/checkouts

.clj-kondo
js
.lsp
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
dist
dist-ssr
*.local
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
pom.xml
pom.xml.asc
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store

.hgignore
.hg/
